/* Styles existants */
.new-patient-container {
  margin-left: 40px;
  margin-right: 40px;

}

.account-container {
  padding: 24px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 50px 50px;
  align-items: center;
  justify-content: center;
  /* centre horizontalement */

}

.account-container h2 {
  margin-bottom: 24px;
  color: #333;
}

.account-content {
  max-width: 800px;

}

.info-group p {
  color: #333;
  font-size: 16px;
  margin: 0;
}

.form-group input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.form-group input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.edit-button,
.save-button,
.cancel-button {
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.manual-success-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.manual-success-modal {
  background-color: white;
  border-radius: 5px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.manual-success-modal-header {
  padding: 10px 15px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
}

.manual-success-modal-header h3 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.manual-success-modal-content {
  padding: 20px;
  text-align: center;
}

.manual-success-modal-footer {
  padding: 10px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #ddd;
}

.manual-btn-ok {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  min-width: 80px;
}

.manual-btn-ok:hover {
  background-color: #0069d9;
}